@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Forta';
    src: url('../fonts/FORTA-1-0.eot');
    src: local('Forta'), local('forta'),
    url('../fonts/FORTA-1-0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FORTA-1-0.woff2') format('woff2'),
    url('../fonts/FORTA-1-0.woff') format('woff'),
    url('../fonts/FORTA-1-0.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body{
    background: url(../imgs/peloches.min.jpg) center bottom no-repeat;
    background-size: cover;
    min-height: 100vh;

    header{
        @apply py-4 flex justify-between;


        a.home{
            font-family: Forta;
            color: #041D54;
            @apply text-2xl pl-10;

            background: url(../imgs/CameraRoll.png) center left no-repeat;
            background-size: contain;
        }
    }

    section{
        .drawer-content{
            @apply mx-3
        }
    }


    .box-login{
        @apply w-4/5 sm:w-2/3 2xl:w-1/4 text-center self-center border p-8 rounded
    }
    .text-content{
        @apply border p-8 rounded
    }

    table, .box-login, .text-content, footer{
        /*background: rgba(247, 250, 252, 0.8);*/
        background: rgba(247, 250, 252);

        td{
            @apply text-center
        }

        a{
            @apply text-cyan-600
        }
    }

    .gridjs-search{
        @apply w-full;

        input[type=search]{
            @apply input input-bordered flex items-center gap-2 mb-4 w-full;
        }
    }

    footer{
        @apply text-zinc-400 text-center inline-block float-end p-2 text-xs mr-3 rounded mt-8
    }

}
